<div class="form">
    <form action="">
        <div class="form-inputs">
            <div class="form-title">
                <div class="form-title-text">Город</div>
                <div class="form-title-page"><span id="page" class="page-now"></span>/<span class="page-all">3</span></div>
            </div>
            <div class="form-input">
                <div class="form-select">
                    <div class="form-select-head" id="option-head">
                        <div class="form-select-head-title">Минск</div>
                        <div class="form-select-head-arrow">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.3333 16.6667L20 25L11.6666 16.6667" stroke="#3D46FA" stroke-width="3"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                    <div class="form-select-body" id="option-body">
                        <div class="form-select-body-items">
                            <div class="form-select-body-item">Минск</div>
                            <div class="form-select-body-item">Гродно</div>
                            <div class="form-select-body-item">Витебск</div>
                            <div class="form-select-body-item">Могилев</div>
                            <div class="form-select-body-item">Гомель</div>
                            <div class="form-select-body-item">Брест</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-inputs">
            <div class="form-title">
                <div class="form-title-text">Сообщение</div>
            </div>
            <div class="form-input">
                <textarea maxlength="370" id="text" cols="30" rows="10" placeholder="Количество символов не более 370"></textarea>
            </div>
        </div>
        <div class="form-button">
            <div class="button-border-gradient">
                <button class="btn btn-transparent" onclick="javascript:history.back(); return false;">Назад</button>
            </div>
            <button type="button" class="btn" id="btn" disabled>Далее</button>
        </div>
    </form>
</div>
